{% extends 'template.html.twig' %}
{% block title %}Messagerie - SecureChat
{% endblock %}
{% block body %}
	<!-- Sidebar -->
	<!-- Chat content -->
		<div class="main" id="chat-dialog"> <div
			class="tab-content" id="nav-tabContent">
			<!-- Start of Empty Chat -->
			<div class="babble tab-pane fade active show">
				<div class="chat" id="chat">
					<div class="top">
						<div class="container">
							<div class="col-md-12">
								<div class="inside">
									<div class="data">
										<h5>
											<a href="{{path('index')}}">Accueil</a>
										</h5>
									</div>
									<div class="dropdown">
										<button class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											<i class="ti-view-grid"></i>
										</button>
										<div class="dropdown-menu dropdown-menu-right">
											<a href="#" class="dropdown-item" data-toggle="modal" data-target="#startnewchat">
												<i class="ti-pencil"></i>Créer un groupe
											</a>
										</div>
									</div>
									<button class="btn back-to-mesg" title="Back">
										<i class="ti-arrow-right"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="content empty ps-container ps-theme-default" data-ps-id="ad8f90da-0d62-a0dc-6eae-ba103fb50a65">
						<div class="container">
							<div class="col-md-12">
								<div class="no-messages">
									<i class="ti-comments"></i>
									<p>Aucuns groupes sélectionnés pour le moment !</p>
								</div>
							</div>
						</div>
						<div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
							<div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
						</div>
						<div class="ps-scrollbar-y-rail" style="top: 0px; right: 0px;">
							<div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div>
						</div>
					</div>
				</div>
			</div>
			<!-- End of Empty Chat -->
		</div>
	</div>
</div><!-- Layout -->{% endblock %}
